li {
  list-style: none;
}

// I did this because i wanted all of the lis to not have a list style and for
// this example it works.  Would you like to nest it regardless?

a {
  font-style: normal;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.octodex {
  width: $octodexWidth;
  margin: $octodexMargin auto;
}

.octocat {
  margin: $octocatMarginTop $octocatMarginRight $octocatMarginBottom $octocatMarginLeft;
  display: inline-block;
  width: $octocatWidth;
  box-sizing: border-box;
  border-bottom: $borderThickness solid $shadeOfGray;
    .pictures {
      border: $borderThickness solid $shadeOfGray;
      box-sizing: border-box;
      width: $picturesWidth;
    }
}
