footer {
  font-size: $footerFontSize;
}

.octonumber {

  margin: $octonumberMarginTop $octonumberMarginRight $octonumberMarginBottom $octonumberMarginLeft;
  float: left;
  display: inline;
  color: $shadeOfGray;
}

.publishers {
  height: $publishersHeight;
}

.authors {
  padding: $authorsPadding;
  display: inline;
}

.authors li {
  display: inline;
}

cite {
  float: right;
  color: #aaaaaa;
  font-style: normal;
  font-weight: bold;
}
