.octonumber {

  margin: 14px 0 0 0;
  float: left;
  display: inline;
}

.publishers {
  height: 30px;
}

.authors {
  padding: 0;
  display: inline;
}

.authors li {
  display: inline;
}

cite {
  float: right;
}
