footer {
  font-size: 1.0em;
}

.octonumber {

  margin: 14px 0 0 0;
  float: left;
  display: inline;
  color: #dddddd;
}

.publishers {
  height: 30px;
}

.authors {
  padding: 0;
  display: inline;
}

.authors li {
  display: inline;
}

cite {
  float: right;
  color: #aaaaaa;
  font-style: normal;
  font-weight: bold;
}
