header {
  margin-top: $headerMarginTop;
  height: $headerHeight;
  background-color: $shadeOfGray;
}

header h1 {
  margin-top: $headerH1Margin;
  display: inline-block;
}

header a {
  display: block;
  padding: $headerAPadding;
}

header li {
  float: right;
}

header nav {
  float: right;
}

header .information {
  margin-top: $headerUlMarginTop;
  list-style: none;
}
