$shadeOfGray: #dddddd;
$octodexWidth: 75%;
$octocatWidth: 28%;
$octocatMarginTop: 20px;
$octocatMarginRight: 0px;
$octocatMarginBottom: 0px;
$octocatMarginLeft: 10px;
$octodexMargin: 0px;
$octonumberMarginTop: 14px;
$octonumberMarginRight: 0px;
$octonumberMarginBottom: 0px;
$octonumberMarginLeft: 0px;
$picturesWidth: 100%;
$borderThickness: 2px;
$headerMarginTop: 6px;
$headerHeight: 50px;
$headerH1Margin: 8px;
$headerAPadding: 8px;
$headerUlMarginTop: 10px;
$footerFontSize: 1.0em;
$publishersHeight: 30px;
$authorsPadding: 0px;
